
<div class="container" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <app-game-control
    (onDeleteData) = "onServerEndGame($event)"></app-game-control>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number] = "oddNumber"></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number] = "evenNumber"></app-even>
    </div>
  </div>

  <!-- Footer -->
  <footer>
      Love Angular?&nbsp;
      
  </footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>