<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>I'm in AppComponent</h1>
      <hr>
      <button class="btn btn-success">Print click on below tab to select one element</button>
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li appBetterHighLight [appBetterHighLight]= "'yellow'" (click)= "selectedValue(ele)" class="list-group-item"
              *ngFor="let ele of Numbers"
           > Click here to print this value:  => {{ ele }}
          </li>
        </ul>
      </div>
  </div>
  <div [ngSwitch] = "value">
    <p *ngSwitchCase="5">value is 5</p>
    <p *ngSwitchCase="10">value is 10</p>
    <p *ngSwitchCase="15">value is 15</p>
    <p *ngSwitchCase="20">value is 20</p>
    <p *ngSwitchCase="25">value is 25</p>
  </div>
</div>  